<footer class="footer">
  <small>
  SHOPPING CART APP
    by SASI
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://en.wikipedia.org/wiki/Shopping_cart_software">News</a></li>
    </ul>
  </nav>
</footer>
